<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Furth Pattern</title>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link href="/CSS/style.css" rel="stylesheet">
</head>

<body>
    <button onclick="goHome()">go Back</button>
    <div class="items">
        <%for(item in initems) {%>
            <div class="<%=initems[item]._id%>" id="items">
                <p class="name">
                    Name:<%= initems[item].name %>
                </p>
                <p class="description">
                    Description: <%=initems[item].desc%>
                </p>
                <p class="price">
                    Price: <%=initems[item].price%>
                </p>
                <img class="image" src="data:image/jpeg;base64,<%=initems[item].img%>">
            </div>
            <%}%>
    </div>


    <script>
        function goHome() {
            window.location.href = '/items'
        }
    </script>
</body>